# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Données volumineuses (téléchargées automatiquement)
data/de440s.bsp
data/hip_main.dat
data/bsc5.json
data/milkyway.png
data/mw_density_n128.npy

# IDE
.idea/
.vscode/
